{% set video_path = file | trim_start_matches(pat="/") %}
<video {% if poster %}poster="{{ get_url(path=poster | trim_start_matches(pat='/')) }}"{% endif %} controls {% if autoplay == "true" %}autoplay{% endif %} {% if loop == "true" %}loop{% endif %} {% if muted == "true" %}muted{% endif %}>
  <source src="{{ get_url(path=video_path) }}" type="video/mp4">
  {% if fallback %}<source src="{{ get_url(path=fallback | trim_start_matches(pat='/')) }}" type="video/webm">{% endif %}
  Your browser does not support HTML5 video.
</video>
