// Bare element styling and text-level defaults.

a {
  border-bottom: $border-accent solid var(--primary-color);
  color: inherit;
  text-decoration: none;

  // Make sure the underline is at the top
  position: relative; // needed for z-index
  z-index: 1;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
}

a.zola-anchor {
  border-bottom: none;
}

hr {
  border: 0;
  border-top: $border-accent solid var(--border-color);
  margin: 1em 0;
}

blockquote {
  border-left: $border-accent solid var(--primary-color);
  color: var(--text-quote);
  margin: 0;
  padding-left: 1em;
}

time {
  color: var(--text-time);
}

// change the line-through color
del {
  text-decoration-color: var(--primary-color);
  text-decoration-thickness: $border-accent;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  border-radius: $radius-sm;
  margin-left: 6px;
  background-color: var(--primary-color);
}
