<style>
  @font-face {
    font-family: "Space Grotesk";
    src: url("{{ get_url(path='fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "Space Grotesk";
    src: url("{{ get_url(path='fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf') }}") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: "JetBrains Mono";
    src: url("{{ get_url(path='fonts/JetbrainsMono/JetBrainsMono-Regular.ttf') }}") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: "JetBrains Mono";
    src: url("{{ get_url(path='fonts/JetbrainsMono/JetBrainsMono-Bold.ttf') }}") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
  }
</style>
