{% extends "base.html" %}

{% block main_content %}
    {% if section.extra.section_path -%}
        {% set section = get_section(path=section.extra.section_path) %}
    {% endif -%}

    {{ post_macros::page_header(title=section.title) }}

    <main>
        {%- if paginator %}
            {%- set show_pages = paginator.pages -%}
        {% else %}
            {%- set show_pages = section.pages -%}
        {% endif -%}

        {{ post_macros::cards_posts(pages=show_pages) }}
    </main>

    {% if paginator %}
        {{ post_macros::pagination(paginator=paginator) }}
    {% endif %}
{% endblock main_content %}